@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Azeret Mono", monospace; */
/* nav style  */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 30px;
}
nav button a {
    text-decoration: none;
}

.nav-title{
    font-weight: 800;
    font-size: 28px;
}
.btn-nav{
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
}

/* hero style */
#hero{
    background-image: url("../assets/Hero-bg.png");
    background-position:center;
    background-size: cover;
    

}
.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero-pic{
    margin-top: 50px;
}
.title{
    font-family: azeret mono;
    font-weight: 800px;
    font-size: 30px;
    text-align: center;
}
.subtitle{
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}
.btn{
    font-weight: 600;
    font-size: 20px;
    color: white;
    padding: 17px 24px;
    border-radius: 5px;
    background-color: rgb(13, 19, 33); 
    border: none;
}

/* main style */
main{
    max-width: 1240px;
    margin: 0 auto;
}
/* shared style  */
.section-title{
   text-align: center;
   margin-top: 60px;
   font-size: 50px;
}
.section-description{
text-align: center;
font-weight: bold;
margin-bottom: 60px;
}
.section-ifram iframe{
    width: 80%;
    height: 500px;
    border-radius: 10px;
}
/* personal */
.div{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.divh3{
    font-size: 50px;
}
.div p{
    font-size: 20px;
    font-weight: bold;
}
.div button{
    font-size: 16px;
    padding: 5px;
}
.div2 img{
    width: 400px;
}
.section-ifram{
    text-align: center;
}
.div3{
    display: flex;
    align-items: center;
}
.div3 img{
    margin-right: 30px;
    margin-top: 30px;
}
.div4{
    display: flex;
    align-items: center;
}
.div4 img{
    margin-right: 30px;
    margin-top: 30px;
}
.div5{
    display: flex;
    align-items: center;
}
.div5 img{
    margin-right: 30px;
    margin-top: 30px;
}
footer{
    max-width: 1240px;
    margin: 0 auto;
}
.hand{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.footer-img{
    width: 100%;
    height: 400px;
    border-radius: 15px;
}
.last{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.icon{
    display: flex;
}
.icon img{
    margin-left: 20px;
}